@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4" style="color:cornflowerblue">Hello, World !</h3>
    <p style="font-size:20px;color:mediumpurple">Nhóm 5:</p>
    <p style="font-size:20px">HE150652 - Tống Sỹ Nhật</p>
    <p style="font-size:20px">HE151130 - Đỗ Nhật Minh</p>
    <p style="font-size:20px">HE151190 - Nguyễn Quang Việt</p>
    <p style="font-size:20px">HE153023 - Trần Văn Thuận</p>
    <p style="font-size:20px">HE153409 - Nguyễn Công Khanh</p>
</div>
